langchain
langgraph
langchain-community
langchain-google-genai
langchain-groq
langchain-tavily
chromadb
python-multipart
sentence-transformers
pypdf
fastapi
uvicorn
weasyprint
jinja2
duckduckgo-search
tavily-python
python-dotenv
pydantic
aiofiles
requests